@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700;900&family=Nunito:wght@200&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
	font-family: "Nunito Sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
	background-color: #201d2b;
	max-width: 768px;
}

.balance-container {
	height: 15rem;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
}

.balance-indicator-text {
	font-size: 14px;
	font-weight: 700;
	color: hsl(257, 19%, 80%);
}

.balance {
	color: white;
	font-size: 52px;
	font-weight: 700;
}

.calculator-container {
	height: 3rem;
	padding: 1rem 1rem;
	width: 95%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 3rem;
	gap: 2rem;
	color: white;
}

.calculator-input {
	flex: 3;
	height: 3rem;
	padding: 1rem;
	border-radius: 10px;
	background-color: #252836;
	border-style: none;
	color: white;
}

.calculator-button {
	flex: 1;
	height: 3rem;
	border-radius: 10px;
	color: white;
	background-color: #406cff;
	border-style: none;
	font-weight: 700;
	font-size: 16px;
}

/* Transaction list styling */

.list {
	width: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	background-color: #252836;
	border-radius: 20px 20px 0px 0px;
}

.transaction {
	width: 95%;
	border-top: white;
	border-style: solid;
	border-width: 1px;
	border-left: hidden;
	border-right: hidden;
	border-bottom: hidden;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
}

.transaction:first-child {
	border-style: none;
}

.left {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.description {
	overflow: hidden;
	max-width: 55vw;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 700;
	font-size: 16px;
}

.datetime {
	font-weight: 200;
	font-size: 14px;
}

.time-spent,
.money-spent {
	font-weight: 700;
	font-size: 16px;
}

.time-spent.hidden,
.money-spent.hidden {
	display: none;
}
