@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700;900&family=Nunito:wght@200&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
	font-family: "Nunito Sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
	background-color: #201d2b;
	max-width: 768px;
}

.balance-container {
	position: sticky;
	top: 0;
	height: 15rem;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	z-index: 1;
}

.balance-indicator-text {
	font-size: 14px;
	font-weight: 700;
	color: hsl(257, 19%, 80%);
}

.balance {
	color: white;
	font-size: 52px;
	font-weight: 700;
}

.calculator-container {
	height: 3rem;
	padding: 1rem 1rem;
	width: 95%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 3rem;
	gap: 2rem;
	color: white;
}

.calculator-input {
	flex: 3;
	height: 3rem;
	padding: 1rem;
	border-radius: 10px;
	background-color: #252836;
	border-style: none;
	color: white;
}

.calculator-button {
	flex: 1;
	height: 3rem;
	border-radius: 10px;
	color: white;
	background-color: #406cff;
	border-style: none;
	font-weight: 700;
	font-size: 16px;
}

/* Transaction list styling */

.list {
	width: 100%;
	height: auto;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	background-color: #252836;
	border-radius: 20px 20px 0px 0px;
	z-index: 2;
}

.transaction {
	width: 95%;
	border-top: hsl(233, 22%, 43%);
	border-style: solid;
	border-width: 1px;
	border-left: hidden;
	border-right: hidden;
	border-bottom: hidden;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
	transition: 250ms ease;
}

.transaction.hidden {
	transition: 250ms ease;
	opacity: 0;
	transform: scale(0);
}

.transaction:first-child {
	border-style: none;
}

.left {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.description {
	overflow: hidden;
	max-width: 55vw;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 700;
	font-size: 16px;
}

.datetime {
	font-weight: 200;
	font-size: 14px;
}

.time-spent,
.money-spent {
	font-weight: 700;
	font-size: 16px;
}

.time-spent.hidden,
.money-spent.hidden {
	display: none;
}

/* Onboarding page styling */

.onboarding-container {
	height: 100vh;
	width: 100vw;
	display: flex;
	padding: 2rem;
	flex-direction: column;
	align-items: center;
}

.get-started {
	color: white;
	font-size: 28px;
	font-weight: 900;
	margin-bottom: 2rem;
}

.onboarding-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	color: white;
}

.inputs-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2rem;
}

.numbers-input {
	display: flex;
	justify-content: space-around;
	gap: 2rem;
}

input[type="text"],
input[type="float"] {
	height: 3rem;
	width: 70vw;
	border-radius: 10px;
	border-style: none;
	background-color: #262836;
	color: white;
	padding: 1rem;
	font-size: 2rem;
}

input.api-key-input {
	font-size: 1rem;
}

.input-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

input[type="submit"] {
	-webkit-appearance: none;
	display: inline-block;
	border: none;
	border-radius: 10px;
	width: 70vw;
	height: 3rem;
	padding: 1rem 2rem;
	margin: 0;
	text-decoration: none;
	background: #406cff;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 1rem;
	font-weight: 900;
	cursor: pointer;
	text-align: center;
}

.api-key-help {
	text-align: right;
	font-size: 10px;
}

.api-key-help a {
	color: white;
}

.error {
	color: red;
}

.error.hidden {
	display: none;
}

.reset {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	top: 1rem;
	right: 1rem;
	border-radius: 10px;
	background-color: #406cff;
	border-style: none;
	width: 64px;
	height: 32px;
	transition: transform 500ms cubic-bezier(0, 1.28, 0.82, 1);
	font-weight: 700;
	color: black;
	z-index: 3;
}

.estimate-container {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3rem;
	border-radius: 20px;
	top: 30%;
	transform: translateY(-50%);
	z-index: 100;
	height: 30%;
	min-height: 250px;
	max-height: 380px;
	width: 80%;
	max-width: 500px;
	background-color: hsl(233, 17%, 30%);
	color: white;
	transition: 350ms cubic-bezier(0.51, 0.81, 0.52, 1.1);
}

.estimate-container.hidden {
	transform: translateY(-100vh);
}

input.estimate-input {
	width: 80%;
	font-size: 1rem;
}

.estimate-button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background-color: #406cff;
	border-style: none;
	z-index: 50;
	transition: 500ms ease;
}

.estimate-button.cancel {
	transform: rotate(-45deg);
}

.estimate-button.hidden {
	transition: 500ms ease;
	transform: translateY(100vh);
}
