@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700;900&family=Nunito:wght@200&display=swap");

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-family: "Nunito Sans", sans-serif;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #201d2b;
  max-width: 768px;
  overflow-x: hidden;
}

html {
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  background-attachment: fixed;
}

/* Navigation styling */
.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 1rem;
  width: 2rem;
  top: calc(1rem + env(safe-area-inset-top));
  z-index: 2;
  transition: ease 300ms;
}

.nav-icon.expanded {
  transform: translateX(calc(220px - 2rem)) rotate(180deg);
}

.nav-panel {
  position: fixed;
  left: 0;
  padding-top: 5rem;
  top: env(safe-area-inset-top);
  width: 260px;
  height: calc(100vh - env(safe-area-inset-top));
  background-color: #40435a;
  z-index: 101;
  transition: ease 250ms;
  filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.2));
}

.nav-panel.hidden {
  transform: translateX(-260px);
}

.nav-links {
  height: 100%;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  color: white;
}

.nav-link-container {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.nav-link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.nav-link.active,
.nav-link:active {
  border-bottom: #ef496f solid 2px;
}

/* Balance container styling */
.balance-container {
  position: sticky;
  top: 0;
  padding: 5rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.balance-indicator-text {
  font-size: 14px;
  font-weight: 700;
  color: hsl(257, 19%, 80%);
}

.balance {
  color: white;
  font-size: 52px;
  font-weight: 700;
}

/* Transaction list styling */
.list-container {
  position: relative;
  width: 100%;
}

.list {
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #252836;
  border-radius: 20px 20px 0px 0px;
  z-index: 2;
}

.transaction {
  width: 95%;
  border-top: hsl(233, 22%, 43%);
  border-style: solid;
  border-width: 1px;
  border-left: hidden;
  border-right: hidden;
  border-bottom: hidden;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  transition: 250ms ease;
}

.transaction.hidden {
  transition: 250ms ease;
  opacity: 0;
  transform: scale(0);
}

.transaction:first-child {
  border-style: none;
}

.left {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description {
  overflow: hidden;
  max-width: 55vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  font-size: 16px;
}

.datetime {
  font-weight: 200;
  font-size: 14px;
}

.time-spent,
.money-spent {
  font-weight: 700;
  font-size: 16px;
}

.transaction-value-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.positive-indicator.hidden {
  display: none;
}

.time-spent.hidden,
.money-spent.hidden {
  display: none;
}

/* Onboarding page styling */

.onboarding-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
}

.get-started {
  color: white;
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 2rem;
}

.onboarding-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: white;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.numbers-input {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

input[type="text"],
input[type="float"] {
  height: 3rem;
  width: 70vw;
  border-radius: 10px;
  border-style: none;
  background-color: #262836;
  color: white;
  padding: 1rem;
  font-size: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input[type="submit"] {
  -webkit-appearance: none;
  display: inline-block;
  border: none;
  border-radius: 10px;
  width: 70vw;
  height: 3rem;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #ef496f;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 900;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

.api-key-help {
  text-align: right;
  font-size: 10px;
}

.api-key-help a {
  color: white;
}

.error {
  color: red;
}

.error.hidden {
  display: none;
}

/* calculator panel styling */
.calculator-panel {
  padding: 4rem 2rem 2rem 2rem;
  position: fixed;
  bottom: 0;
  height: 80vh;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  max-width: 768px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  z-index: 102;
  background-color: hsl(233, 17%, 30%);
  color: white;
  transition: 350ms cubic-bezier(0.51, 0.81, 0.52, 1);
  filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.2));
}

.calculator-panel.hidden {
  transform: translateY(80vh);
}

input.calculator-input {
  width: 100%;
  font-size: 1rem;
}

.calculator-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background-color: #ef496f;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  font-weight: 700;
  transition: 500ms ease;
  z-index: 103;
}

.calculator-button.maximise {
  transform: rotate(180deg);
}

/* Preferences styling */

.preferences-container {
  padding: 2rem;
  height: 100vh;
}

.preferences-header {
  color: white;
  padding-bottom: 2rem;
}

.loading-container {
  position: fixed;
  bottom: 2rem;
  z-index: 99999;
}

.loading {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loading div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #ef496f;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.loading div:nth-child(1) {
  left: 8px;
  animation: loading1 0.6s infinite;
}
.loading div:nth-child(2) {
  left: 8px;
  animation: loading2 0.6s infinite;
}
.loading div:nth-child(3) {
  left: 32px;
  animation: loading2 0.6s infinite;
}
.loading div:nth-child(4) {
  left: 56px;
  animation: loading3 0.6s infinite;
}
@keyframes loading1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loading3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loading2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.loading.inactive {
  display: none;
}
