@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700;900&family=Nunito:wght@200&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
	font-family: "Nunito Sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
	background-color: #201d2b;
	max-width: 768px;
	overflow-x: hidden;
}

/* Navigation styling */
.nav-panel {
	position: fixed;
	left: 0;
	top: 0;
	width: 220px;
	height: 100%;
	background-color: #40435a;
	z-index: 101;
	transition: 250ms;
}

.nav-icon {
	position: fixed;
	top: 1rem;
	left: 1rem;
	z-index: 2;
}

.nav-panel.hidden {
	transform: translateX(-220px);
}

.balance-container {
	position: sticky;
	top: 0;
	padding: 5rem;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	z-index: 1;
}

.balance-indicator-text {
	font-size: 14px;
	font-weight: 700;
	color: hsl(257, 19%, 80%);
}

.balance {
	color: white;
	font-size: 52px;
	font-weight: 700;
}

/* Transaction list styling */
.list-container {
	position: relative;
	width: 100%;
}

.list {
	width: 100%;
	height: auto;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	background-color: #252836;
	border-radius: 20px 20px 0px 0px;
	z-index: 2;
}

.transaction {
	width: 95%;
	border-top: hsl(233, 22%, 43%);
	border-style: solid;
	border-width: 1px;
	border-left: hidden;
	border-right: hidden;
	border-bottom: hidden;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
	transition: 250ms ease;
}

.transaction.hidden {
	transition: 250ms ease;
	opacity: 0;
	transform: scale(0);
}

.transaction:first-child {
	border-style: none;
}

.left {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.description {
	overflow: hidden;
	max-width: 55vw;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 700;
	font-size: 16px;
}

.datetime {
	font-weight: 200;
	font-size: 14px;
}

.time-spent,
.money-spent {
	font-weight: 700;
	font-size: 16px;
}

.transaction-value-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.2rem;
}

.positive-indicator.hidden {
	display: none;
}

.time-spent.hidden,
.money-spent.hidden {
	display: none;
}

/* Onboarding page styling */

.onboarding-container {
	height: 100vh;
	width: 100vw;
	display: flex;
	padding: 2rem;
	flex-direction: column;
	align-items: center;
}

.get-started {
	color: white;
	font-size: 28px;
	font-weight: 900;
	margin-bottom: 2rem;
}

.onboarding-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	color: white;
}

.inputs-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2rem;
}

.numbers-input {
	display: flex;
	justify-content: space-around;
	gap: 2rem;
}

input[type="text"],
input[type="float"] {
	height: 3rem;
	width: 70vw;
	border-radius: 10px;
	border-style: none;
	background-color: #262836;
	color: white;
	padding: 1rem;
	font-size: 2rem;
}

input.api-key-input {
	font-size: 1rem;
}

.input-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

input[type="submit"] {
	-webkit-appearance: none;
	display: inline-block;
	border: none;
	border-radius: 10px;
	width: 70vw;
	height: 3rem;
	padding: 1rem 2rem;
	margin: 0;
	text-decoration: none;
	background: #ef496f;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 1rem;
	font-weight: 900;
	cursor: pointer;
	text-align: center;
}

.api-key-help {
	text-align: right;
	font-size: 10px;
}

.api-key-help a {
	color: white;
}

.error {
	color: red;
}

.error.hidden {
	display: none;
}

.logout {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	bottom: 1rem;
	border-radius: 10px;
	background-color: #ef496f;
	border-style: none;
	width: 90%;
	height: 32px;
	font-weight: 700;
	color: black;
}

.estimate-panel {
	padding: 4rem 2rem 2rem 2rem;
	position: fixed;
	bottom: 0;
	height: 80vh;
	width: 100%;
	border-radius: 20px 20px 0px 0px;
	display: flex;
	max-width: 768px;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 3rem;
	z-index: 102;
	background-color: hsl(233, 17%, 30%);
	color: white;
	transition: 350ms cubic-bezier(0.51, 0.81, 0.52, 1);
}

.estimate-panel.hidden {
	transform: translateY(80vh);
}

input.estimate-input {
	width: 100%;
	font-size: 1rem;
}

.close-button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	background-color: #ef496f;
	border-radius: 50%;
	height: 3rem;
	width: 3rem;
	font-weight: 700;
	transition: 500ms ease;
	z-index: 103;
}

.close-button.maximise {
	transform: rotate(180deg);
}
